h1.page-title {
  text-align: center;
  line-height: 1em;
  margin-bottom: 10px;
  &:after {
    content: " ";
    height: 1px;
    max-width: 400px;
    background-color: $text-color-base;
    display: block;
    margin: 0 auto;
  }
}

.sub-title {
  text-align: center;
  font-family: $body-text-highlight;
  font-size: 1.6em;
  line-height: 1em;
  margin-bottom: 10px;
}
