h1.page-title {
  text-align: center;
  line-height: 1em;
  padding-bottom: 7px;
  text-decoration: underline;
}

.sub-title {
  text-align: center;
  font-family: $body-text-highlight;
  font-size: 1.6em;
  line-height: 1em;
  margin-bottom: 10px;
}
