@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300);

@font-face {
    font-family: 'code_bold';
    src: url('code_bold-webfont.eot');
    src: url('code_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('code_bold-webfont.woff2') format('woff2'),
         url('code_bold-webfont.woff') format('woff'),
         url('code_bold-webfont.ttf') format('truetype'),
         url('code_bold-webfont.svg#code_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-family-headers: 'code_bold', sans-serif;
$font-family-body: 'Robot Slab', serif;


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2, h3, h4, h5, h6 {
  font-family: $font-family-headers;
}

h1 {
  font-family: $font-family-headers;
  font-size: 60px;
  @include breakpoint($screen-md) {
    font-size: 60px;
  }
}

h2 {
  font-size: 50px;
  font-family: $font-family-headers;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

body {
  font-family: $font-family-body;
  color: $text-color-base;
  font-size: 18px;

  @include breakpoint($screen-sm) {
    font-size: 18px;
  }

  @include breakpoint($screen-md) {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  font-family: $font-family-body;
  font-size: 1.2em;
  color: $link-color-base;
}

a:hover, a.title-link:hover {
  color: $link-color-hover;
}

a.title-link {
  font-family: $font-family-headers;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

blockquote {
  font-style: italic;
  padding: 1em;
  background-color: #efefef;
  > p {
    margin: 0;
  }
}

strong.highlight {
  color: $text-color-strong-highlight;
}

p {
  margin: 0;
}

