@import url('//fonts.googleapis.com/css?family=Lato:400,700|Josefin+Slab:600|Amatic+SC');


$title-text: 'Amatic SC', sans-serif;
$body-text: 'Lato', sans-serif;
$body-text-highlight: 'Josefin Slab', serif;


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2, h3, h4, h5, h6 {
  font-family: $body-text-highlight;
}

h1 {
  font-family: $title-text;
  font-size: 4em;
  @include breakpoint($screen-md) {
    font-size: 5em;
  }
}

h2 {
  font-size: 3.6em;
  font-family: $title-text;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.6em;
}

body {
  font-family: $body-text;
  color: $text-color-base;
  font-size: 14px;
  @include breakpoint($screen-sm) {
    font-size: 18px;
  }
  @include breakpoint($screen-md) {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  font-family: $body-text-highlight;
  font-size: 1.2em;
  color: $link-color-base;
}

a:hover, a.title-link:hover {
  color: $link-color-hover;
}

a.title-link {
  font-family: $title-text;
  color: inherit;
}

blockquote {
  font-style: italic;
  padding: 1em;
  background-color: #efefef;
  > p {
    margin: 0;
  }
}

strong.highlight {
  color: $text-color-strong-highlight;
}

p {
  margin: 0;
}

