.home-container {
  min-height: 100vh;
  padding: 50px 30px;

  h2 {
    margin-bottom: 30px;
  }
}

.hero-container {
  h1 {
    margin-top: calc(50vh - #{$section-padding * 10});
  }
}

.summary-container {
  h4 {
    color: $first-color;
  }
}

.core-values-list {
  margin: 20px auto 0;
  width: 15em;
}

.skills-list {
  margin-bottom: 30px;
}

.skill-container {
  font-size: 12px;
  height: 84px;
  margin: 10px;
  text-align: center;
  width: 25%;

  img {
    height: 80px;
    width: 100%;
  }

  @include breakpoint($screen-md) {
    font-size: 16px;
    height: 120px;
    margin: 13px;
    width: 80px;
  }
}

.work-col {
  padding: 10px;

  @include breakpoint($screen-md) {
    float: left;
    width: 45%;

    &.employer-info {
      text-align: right;
    }
  }

  @include breakpoint($screen-lg) {
    width: 40%;
  }

  hr {
    border-color: #999;
  }
}

.work-exp-container {
  margin-bottom: 30px;
}

