.hero-banner-container {
  $first-breakpoint: 500px;

  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;

  background-image: url("https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xfa1/t31.0-8/830447_10151805818063712_1132729123_o.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .overlay {
    background-color: rgba(0, 0, 0, 0.15);
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
  }

  .hero-title {
    bottom: 0;
    color: $font-color-inverse;
    margin-bottom: 1rem;
    padding: 1rem 3rem;
    position: absolute;
    width: 25rem;
    left: calc((100% - 25rem) / 2);
    text-align: center;

    h1 {
      font-size: 2.3rem;
    }

    h4 {
      font-size: 2rem;
    }

    @media (min-width: $first-breakpoint) {
      width: 46rem;
      left: calc((100% - 46rem) / 2);
      margin-bottom: 3rem;
      padding: 2rem 4rem;

      h1 {
        font-size: 4rem;
      }

      h4 {
        font-size: 2.8rem;
      }
    }
  }
}

