@import url(https://fonts.googleapis.com/css?family=Oswald|Muli:400,300);

$font-family-headers: 'Oswald', sans-serif;
$font-family-body: 'Muli', sans-serif;
$text-body-spacing: 1.5em;


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2, h3, h4, h5, h6 {
  font-family: $font-family-headers;
}

h1 {
  font-family: $font-family-headers;
  font-size: 72px;
}

h2 {
  font-size: 60px;
  font-family: $font-family-headers;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

p {
  margin-bottom: $text-body-spacing;
}

body {
  color: $text-color-base;
  font-family: $font-family-body;
  font-size: 20px;
  font-weight: 300;

  @include breakpoint($screen-md) {
    font-size: 22px;
  }
}

a {
  color: $link-color-base;
  font-family: $font-family-body;
  text-decoration: none;
}

a:hover, a.title-link:hover {
  color: $link-color-hover;
}

a.title-link {
  color: inherit;
  font-family: $font-family-headers;
  &:hover {
    text-decoration: none;
  }
}

blockquote {
  background-color: transparent;
  border-left: #ccc 4px solid;
  font-style: italic;
  margin-bottom: $text-body-spacing;
  padding: 0 1em;
  > p {
    margin: 0;
  }
}

code {
  background: #ddd;
  border-radius: 5px;
  display: inline-block;
  font-size: 0.8em;
  padding: 3px 8px;
  vertical-align: middle;
  word-break: break-word;
}

pre {
  margin-bottom: $text-body-spacing;

  code {
    @extend .hljs;
    font-size: 14px;
    padding: 10px;
  }
}

ul, ol {
  margin-bottom: $text-body-spacing;
}

strong.highlight {
  color: $text-color-strong-highlight;
}
