<a href="https://twitter.com/devkaoru"
   class="icon-link"
   title="Kaoru's Twitter Account"
   target="_blank"
   rel="external">
  <%= image_tag("svgs/twitter", class: "small-icon", alt: "Twitter logo") %>
</a>

<a href="https://www.linkedin.com/in/kaoruk"
   class="icon-link"
   title="Kaoru's LinkedIn Account"
   target="_blank"
   rel="external">
  <%= image_tag("svgs/linkedin", class: "small-icon", alt: "Linkined Logo") %>
</a>

<a href="https://www.github.com/kaorudev"
   class="icon-link"
   title="Kaoru's Github Account"
   target="_blank"
   rel="external">
  <%= embedded_svg("svgs/github.svg", class: "small-icon embedded-icon github-icon-inverse", alt: "Github Logo") %>
</a>
<br>
<a href="#" class="email"></a>
