<a href="https://twitter.com/devkaoru"
   class="icon-link"
   title="Kaoru's Twitter Account"
   target="_blank"
   rel="external">
  Twitter
</a>
|
<a href="https://www.linkedin.com/in/kaoruk"
   class="icon-link"
   title="Kaoru's LinkedIn Account"
   target="_blank"
   rel="external">
  LinkedIn
</a>
|
<a href="https://www.github.com/kaorudev"
   class="icon-link"
   title="Kaoru's Github Account"
   target="_blank"
   rel="external">
  Github
</a>
<br>
<a href="#" class="email"></a><br>
<%= link_to "Resume (pdf)", asset_path("resume.pdf"), type: :documents %>
