<nav>
  <a href="/" class="nav-link">home</a>
  <% if current_user %>
    <%= link_to "About", about_path, :class => "nav-link" %>
    <%= link_to "Dashboard", dashboard_path, :class => "nav-link" %>
  <% end %>
</nav>
