<div class="top-nav-container">
  <h1 class="text-uppercase">
    <span>Kaoru</span><br>
    <span class="sub">Kohashigawa</span>
  </h1>
  <nav>
    <%= link_to "home", root_path %> |
    <%= link_to "blog", posts_path %>
    <% if current_user %>
      | <%= link_to "dashboard", dashboard_path %>
    <% end %>
  </nav>
</div>
