<div class="top-nav-container">
  <h1 class="text-uppercase">
    <span>Kaoru</span><br>
    <span class="sub">Kohashigawa</span>
  </h1>
  <nav>
    <%= link_to "home", root_path %> |
    <%= link_to "blog", posts_path %> |
    <%= link_to "mentorship", "/mentorship" %>
  </nav>
</div>
