<section class="about-section skinny-section">
  <div class="row">
    <div class="col-sm-5 text-right">
      <h2>Hi!</h2>
      <div class="skinny-body">
        <a href="#" class="email"></a><br>
        <a href="https://twitter.com/DevKaoru" target="_blank">Twitter</a><br>
        <a href="https://github.com/KaoruDev" target="_blank">Github</a><br>
        <a href="https://www.linkedin.com/in/kaoruk" target="_blank">LinkedIn</a><br>
        <a href="https://s3.amazonaws.com/maker_square/uploads/user/resume/18/Kaoru_2015_Resume.pdf" target="_blank">Resume</a><br>
      </div>
    </div>
    <div class="col-sm-6">
      <h2>here's the SKINNY</h2>
        <div class="skinny-body">
          <p>
            I write about software and anything that comes along with it. The pictures are there because I like them!
            I write about software <strong class="highlight">to challenge what I think I know</strong> . I'm hoping these posts help others on their coding journey.
            It's not enough to know, I'd like to be able to teach. Software is amazing.
            Why should only a few understand it?
          </p>
        </div>
    </div>
  </div>
</section>

<section class="about-section">
  <div class="row">
    <h2 class="text-center">Programming for</h2>
    <div class="col-md-4 employeer-container">
      <div><img class="spredfast-logo" src="https://kaoru-portfolio-images.s3.amazonaws.com/image/31/Spredfast-Logo.png" alt=""></div>
      <h3 class="text-center">Spredfast</h3>
      <h4 class="text-center">Software Engineer</h4>
      <p>
        At Spredfast I challenge myself to tackle on problems outside of my comfort zone. This lead me to <strong class="highlight">fix security issues</strong>,
        implement logout for users, <strong class="highlight">write a faster test suite</strong>, and take on core complex problems.
        I support my team by building features in either <strong class="highlight">Ruby</strong> or <strong class="highlight">JavaScript</strong>.
        I am able to adapt to my team's needs and am always <strong class="highlight">eager to learn more</strong>.
      </p>
    </div>

    <div class="col-md-4 employeer-container">
      <div><img class="makersquare-logo" src="https://kaoru-portfolio-images.s3.amazonaws.com/image/32/MakerSquare-logo.png" alt=""></div>
      <h3 class="text-center">MakerSquare</h3>
      <h4 class="text-center">Pro bono Engineer</h4>
        <p>
          The Recruit App is a repository of companies, job openings, and graduates currently looking for a job.
          Built on <strong class="highlight">Rails</strong>, the app allows students to create <a href="https://recruit.makersquare.com/?v=kkohashigawa2" target="_blank">online business cards</a>.
          Career service members can quickly query through users, companies, and positions. Search uses <strong class="highlight">Backbone</strong> to filter and drill down to specific profiles.
        </p>
    </div>

    <div class="col-md-4 employeer-container">
      <div>
        <img class="sureup-logo" src="https://kaoru-portfolio-images.s3.amazonaws.com/image/30/SureUp-Logo.png" alt="">
      </div>
      <h3 class="text-center">SureUp</h3>
      <h4 class="text-center">Lead Engineer</h4>
      <p>
        SureUp is the connection between people and dozens of independent car insurance companies. Algorithms quickly calculate insurance policies to best
        fit a person's financial and liablity needs. Multiple public APIs are used to enrich the data to more acurately create matches.
        It is built using <strong class="highlight">Rails</strong>, <strong class="highlight">Backbone</strong>, and leverages <strong class="highlight">Redis</strong> for caching API responses.
      </p>
    </div>
  </div>
</section>

<section class="about-section skills-section">
  <div class="row skill-tree-row">
    <div class="col-xs-12">
    <h2 class="text-center">SKILL TREE <i class="fa fa-tree"></i></h2>
      <h4>On the daily...</h4>
      <div class="skill-tree-list clearfix">
        <%= list_skills(:daily) %>
      </div>
    </div>
  </div>

  <div class="row skill-tree-row">
    <div class="col-xs-12">
      <h4>Would love to get more familiar with...</h4>
      <div class="skill-tree-list clearfix">
        <%= list_skills(:familiar) %>
      </div>
    </div>
  </div>

  <div class="row skill-tree-row">
    <div class="col-xs-12">
      <h4>Excited to learn...</h4>
      <div class="skill-tree-list clearfix">
        <%= list_skills(:wanted) %>
      </div>
    </div>
  </div>
</section>

<section class="about-section">
  <h2 class="text-center">and then there's...</h2>
  <div class="row">
    <div class="col-sm-4">
      <h3>Breathe Team</h3>
      <p>
        Mentoring at MakerSquare has been part of my journey since November 2013.
        A handful of students felt unsure of core concepts. In response I created Breathe Team. The inspiration came after <a href="https://www.youtube.com/watch?v=CDFC16ptx-0" target="_blank">Eric Thomas'</a>mantra:
        <em>"When you want to succed as bad as you want to breathe then you will be successful."</em>
        The team meets every Friday at 4:30pm rain or shine!
      </p>
    </div>
    <div class="col-sm-4">
      <h3>Mountain Biking!</h3>
      <p>
        I suck at it so don't ask me anything yet. Still tons of fun even if I ride my brakes from the car and back!
      </p>
      <br>
      <h3><i class="fa fa-camera"></i> Photography</h3>
      <p>
        I was a wedding photographer before I was an engineer. I still enjoy photography and the lack of photos on this site makes me a sad panda. I think I'll get back into it!
      </p>
    </div>
    <div class="col-sm-4">
      <h3>My Cats!</h3>
      <p>
        They're so stoopid and funny I just can't help myself and cuddle them!
        <img src="https://c4.staticflickr.com/8/7390/16173338527_dd1d78cd2e_c.jpg" alt="Silly cat">
      </p>
    </div>
  </div>
</section>

<%= content_for :javascript do %>
  <script>
    !function () {
      var email = ['.com', 'kaoruk', '@', 'dev'].reverse().join('');
      $('.email').attr('href', 'mailto:' + email).text(email);
    }();
  </script>
<% end %>


