<div class="row">
  <div class="col-xs-12">
    <% @posts.each do |post| %>
      <div class="post-container clearfix">
      <h2 class="post-title"><%= post.title %></h2>
      <p><%= post.body.html_safe %></p>
      </div>
    <% end %>
  </div>
</div>

