<section class="hero-container home-container">
  <%= render "shared/navigation" %>
</section>

<a name="summary"></a>
<section class="summary-container home-container text-center inverse-section">
  <h2>Summary</h2>
  <div class="contant-links">
    <%= render "shared/contact_info" %>
  </div>

  <p class="center--column">
    Software Engineer based in the Bay Area.
  </p>

  <p class="center--column">
    Helping companies turn ideas into amazing products.
  </p>

  <p class="center--column">
    Self-starter, all about the <strong>#hustle</strong>.
  </p>

  <p class="center--column">
    Believes learning is a lifelong event.
  </p>

  <h4>Mantras:</h4>
  <ul class="text-left core-values-list">
    <li>Principles over Feelings</li>
    <li>Triple Double</li>
    <li>Listening before Speaking</li>
    <li>Long road is less traveled</li>
  </ul>
</section>

<section class="home-container">
  <div class="center-column">
    <h2 class="text-center">Tools <i class="fa fa-hand-spock-o"></i></h2>
    <h4>On the daily...</h4>
    <div class="skills-list clearfix">
      <%= list_skills(:daily) %>
    </div>

    <h4>Would love to get more familiar with...</h4>
    <div class="skills-list clearfix">
      <%= list_skills(:familiar) %>
    </div>
  </div>
</section>

<section class="home-container">
  <h2 class="text-center">Work Experience</h2>
  <div class="work-exp-container clearfix">
    <div class="work-col employer-info">
      <h3>Sift Science</h3>
      <h4>Software Engineer</h4>
      <p>
        <a href="https://siftscience.com" target="_blank">siftscience.com</a><br>
        May 2016<br>
        Current
      </p>
    </div>
    <div class="work-col">
      <p>
        Sift Science helps customers detect fraudulent activity using Machine
        Learning.
      </p>
      <p>
        I'm currently working on improving our rules engine allow analyst to
        automate more and more of their process.
      </p>
      <p>
        In the past I have worked on publishing public APIS and public clients,
        building internal APIs to support our React analyst application, and
        the migration from classic load balancers to AWS's application load
        balancers.
      </p>
      <hr>
      <p>
        <strong>Java</strong>,
        <strong>Microservices</strong>,
        <strong>Javascript</strong>
      </p>
    </div>
  </div>

  <div class="work-exp-container clearfix">
    <div class="work-col employer-info">
      <h3>Binti</h3>
      <h4>Contract Software Engineer</h4>
      <p>
        <a href="https://binti.com" target="_blank">Binti.com</a><br>
        February 2016<br>
        Current
      </p>
    </div>
    <div class="work-col">
      <p>
        Binti helps foster care system by taking care of the paper work and
        allowing foster care workers to concentrate on the children rather than
        the logistics.
      </p>
      <p>
        I have worked on building a reporting page using Chart.js to give foster
        care agencies a high level view of their workers. I've helped increased
        the productivity of the engineering team by refactoring legacy code,
        adding tests and fixing bugs and issues.
      </p>
      <hr>
      <p>
        <strong>Ruby on Rails</strong>,
        <strong>Javascript</strong>
      </p>
    </div>
  </div>

  <div class="work-exp-container clearfix">
    <div class="work-col employer-info">
      <h3>Inside</h3>
      <h4>Senior Web Developer</h4>
      <p>
        <a href="https://inside.com" target="_blank">Inside.com</a><br>
        April 2015<br>
        February 2016
      </p>
    </div>
    <div class="work-col">
      <p>
        Worked with a remotely based team, led by Jason Calacanis,
        to bring important and relevant news to users faster.
      </p>
      <p>
        I built a wide variety of tools while at Inside. I developed a gulp
        system to quickly deploy a new vertical site in a short amount of time
        with little configurations leading to the company's first high
        profile contract.
      </p>
      <p>
        I also developed a Chrome extension bring users news everytime they
        opened their tab. This also allowed us to surface breaking news by
        implementing Chrome's push notification ability.
      </p>
      <p>
        Lastly, I quickly developed an email CMS to help the company send
        curated news via emails. This is still the current product of Inside.
      </p>
      <hr>
      <p>
        <strong>Ruby on Rails</strong>,
        <strong>Javascript</strong>,
        <strong>Chrome Extension</strong>,
        <strong>Email Campaigns</strong>
      </p>
    </div>
  </div>

  <div class="work-exp-container clearfix">
    <div class="work-col employer-info">
      <h3>Spredfast</h3>
      <h4>Software Engineer</h4>
      <p>
        <a href="https://www.spredfast.com" target="_blank">Spredfast.com</a><br>
        December 2013<br>
        April 2015
      </p>
    </div>
    <div class="work-col">
      <p>
        Spredfast helps companies improve their social media presence and
        market at the speed of social.
      </p>
      <p>
        I helped develop Social Echo Graph, an analytics and reporting tool,
        helping clients discover significant moments in their campaigns. The
        product had 10x ROI for our clients.
      </p>
      <p>
        I also implemented Solr into internal admin application improving
        productivity of solutions team and ultimately improving customer
        satisfaction.
      </p>
      <hr>
      <p>
        <strong>Ruby on Rails</strong>,
        <strong>Javascript</strong>
      </p>
    </div>
  </div>
</section>
