
// Base Colors

$first-color: #FF9A19;
$second-color: #00A7FF;

// Complimentary Colors

$com-color-one: #5E5E5E;

// Background Colors

$background-color-body: #f7f7f7;

// Font Colors

$font-color-body: #000;
$font-color-inverse: #fff;

// Font Family

$font-family-headers: $oswald-font;
$font-family-body: $open-sans-font;

