$brown: #7f7059;
$dark-grey: #454545;
$light-blue: #9AA5AB;
$blue: #0085B2;
$orange: #dd8529;
$off-white: #f0f0f0;

$text-color-base: $dark-grey;
$text-color-highlight: $brown;
$text-color-strong-highlight: $blue;

$link-color-base: $orange;
$link-color-hover: $brown;

// Colors

$first-color: #dd8529;

$background-color-inverse: #333333;

$text-color-inverse: #f0f0f0;

// Measurements

$center-column-padding: 20px;
$center-column-width: 1000px;

$section-padding: 20px;

