.top-nav-container {
  $sub-font-size: 0.463em;
  text-align: right;
  padding-top: 40px;

  h1 {
    line-height: $sub-font-size;

    @include breakpoint($screen-lg) {
      font-size: 120px;
    }

    .sub {
      font-size: $sub-font-size;
    }
  }
}
