.center-container-column {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

img {
  max-width: 100%;
}

code {
  display: inline-block;
  padding: 0px 8px;
  background-color: #eee;
  font-size: 0.9em;
}
