<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'Ellen Mae & Kaoru Wedding' %></title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    'wedding', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
</head>
<body>

  <div class="hero-banner-container">
    <div class="overlay"></div>
    <div class="hero-title">
      <h1 class="title text-uppercase">Ellen Mae & Kaoru</h1>
      <h4 class="sub-title">1.23.16</h4>
    </div>
  </div>

  <div class="main-content-wrapper">
    <div class="main-content">
      <section class="info-section" id="Hotel-section">
        <h4 class="section-title">Hotel Info</h4>
        <p class="section-details">
          We will be staying at the Ala Moana Hotel, Honolulu.
        </p>
      </section>

      <section id="Wedding-section" class="info-section">
        <h4 class="section-title">Wedding Day Schedule</h4>
        <div class="section-details">
          <ul>
            <h5>Ceremony</h5>
            <ul>
              <li>
                10:00AM @
                <a href="http://www.saintjohnvianneyhawaii.org/">
                  St John Vianney
                </a><br>
                920 Keolu Dr. <br>
                Kailua, HI 96734 <br>
                <a href="https://www.google.com/maps/place/St+John+Vianney/@21.3803047,-157.7291813,15z/data=!4m2!3m1!1s0x0:0xa9fa2a513e4f3ac?sa=X&ved=0CHoQ_BIwCmoVChMI4ayZstneyAIVkFuICh0Nlw5L">
                  ( map )
                </a>
              </li>

              <li>11:30AM Group Photos</li>
            </ul>

            <h5>Lunch</h5>
            <ul>
              <li>
                12:30PM - 3:00PM @ <a href="http://cafejuliahawaii.com/"> Cafe Julia </a><br>
                1040 Richards St.<br>
                Honolulu, HI 96813<br>
                <a href="https://www.google.com/maps/search/cafe+julia/@21.3076147,-157.861982,17z/data=!3m1!4b1">
                  ( map )
                </a>
              </li>
            </ul>

            <h5>Makani</h5>
            <ul>
              <li>
                <strong>
                  Parking is hard to find, please plan accordingly.
                </strong><br>
              </li>
              <li>
                4:30PM Board <a href="https://www.sailmakani.com/" target="_blank">Makani</a><br>
                1009 Ala Moana Blvd.<br>
                Honolulu, HI 96814<br>
                <a href="https://www.google.com/maps/place/Makani+Catamaran/@21.2971739,-157.8780011,14z/data=!4m5!1m2!2m1!1smakani!3m1!1s0x0000000000000000:0x7726c1a1082acabf">
                  ( map )
                </a>
              </li>

              <li>
                5:00PM-7:00PM Makani sets sails
              </li>
            </ul>

            <h5>Drink &amp; Relax</h5>
            <ul>
              <li>
                7:30PM @ <a href="http://www.honolulubeerworks.com/">Honolulu Beer Works</a><br>
                328 Cooke St.<br>
                Honolulu, HI 96813<br>
                <a href="https://www.google.com/maps/place/Honolulu+Beer+Works/@21.2971748,-157.8626802,17z/data=!3m1!4b1!4m2!3m1!1s0x7c006e088d762c1f:0x7695d3f0d36ecba6">
                  ( map )
                </a>
              </li>

            </ul>
          </ul>
        </div>
      </section>
    </div>
  </div>


  <%= javascript_include_tag 'wedding' %>
</body>
</html>
