<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'Ellen Mae & Kaoru Wedding' %></title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    'wedding', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
</head>
<body>

  <div class="hero-banner-container">
    <div class="overlay"></div>
    <div class="hero-title">
      <h1 class="title text-uppercase">Ellen Mae & Kaoru</h1>
      <h4 class="sub-title">1.23.16</h4>
    </div>
  </div>

  <div class="main-content-wrapper">
    <div class="main-content">
      <section class="info-section" id="RSVP-section">
        <h4 class="section-title">R.S.V.P</h4>
        <p class="section-details">
          Please make your reservations by January 8th, 2016! Send a text, email, or phone call to let us know!
        </p>
        <p class="section-details">
          Messenger cats are also accepted, though don't expect them to return!
        </p>
      </section>

      <section class="info-section" id="Flight-section">
        <h4 class="section-title">Flight Info</h4>
        <p class="section-details">
          The Airport code for Honolulu International Airport is <strong>HNL</strong>.
        </p>
        <p class="section-details">
          <a href="http://www.hawaiianair.com/" target="_blank">Hawaiian Airlines</a> is your best bet. They are consistently reliable and remain competitive.
        </p>
      </section>

      <section class="info-section" id="Hotel-section">
        <h4 class="section-title">Hotel Info</h4>
        <p class="section-details">
          We will be staying at the Ala Moana Hotel, Honolulu. We would be delighted if you would join us!
        </p>
        <p class="section-details">
          We got group rates ranging from $129 - $149 + plus tax (13.962%) per night. Let us know if you're interested!
        </p>
        <p class="section-details">
          Reservations have to be made through Elena ( Kaoru's Mom ). Please let us know ASAP which day you will be checking in and out
          and how many people will be in a room.
        </p>
      </section>

      <section id="Wedding-section" class="info-section">
        <h4 class="section-title">Wedding Day Schedule</h4>
        <div class="section-details">
          <ul>
            <li>10:00AM Ceremony @
              <a href="https://www.google.com/maps/place/St+John+Vianney/@21.3803047,-157.7291813,15z/data=!4m2!3m1!1s0x0:0xa9fa2a513e4f3ac?sa=X&ved=0CHoQ_BIwCmoVChMI4ayZstneyAIVkFuICh0Nlw5L">
                St John Vianney,
                920 Keolu Dr, Kailua, HI 96734
              </a>
              Kailua O'ahu
            </li>

            <li>11:30AM Group Photos At Church</li>

            <li>
              12:30 Lunch @
              <a href="https://www.google.com/maps/place/Cafe+Julia/@21.3076147,-157.8597933,15z/data=!4m2!3m1!1s0x0:0xb379e20cc75955f9?sa=X&ved=0CHEQ_BIwCmoVChMIhIbZ1tneyAIVizqICh0_yAMz">
                Cafe Julia's,
                1040 Richards St, Honolulu, HI 96813
              </a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>


  <%= javascript_include_tag 'wedding' %>
</body>
</html>
