<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'Ellen Mae & Kaoru Wedding' %></title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    'wedding', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
</head>
<body>

  <div class="hero-banner-container">
    <img class="hero-image" src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xfa1/t31.0-8/830447_10151805818063712_1132729123_o.jpg" alt="">
    <h1 class="text-uppercase hero-title">Ellen Mae & Kaoru</h1>
  </div>

  <div class="main-content">
    <section class="info-section" id="RSVP-section">
      <h4 class="section-title">R.S.V.P</h4>
      <p class="section-details">
        Please make your reservations by January 8th, 2016! Send a text, email, or phone call to let us know!
        Messenger cats are also accepted, though don't expect them to return!
      </p>
    </section>

    <section class="info-section" id="Hotel-section">
      <h4 class="section-title">Hotel Info</h4>
      <p class="section-details">
        We're hoping to get group rates at a hotel in Waikiki. We're bargaining with folks and trying to
        pull strings. We'll update this site with more details. Our Kamaa'ina card appears to be broken.
      </p>
    </section>

    <section id="Wedding-section" class="info-section">
      <h4 class="section-title">Wedding Day Schedule</h4>
      <div class="section-details">
        <ul>
          <li>10:00AM Ceremony @
            <a href="https://www.google.com/maps/place/St+John+Vianney/@21.3803047,-157.7291813,15z/data=!4m2!3m1!1s0x0:0xa9fa2a513e4f3ac?sa=X&ved=0CHoQ_BIwCmoVChMI4ayZstneyAIVkFuICh0Nlw5L">St John Vianney</a>
            Kailua O'ahu
          </li>

          <li>11:30AM Group Photos At Church</li>

          <li>
            12:30 Lunch @
            <a href="https://www.google.com/maps/place/Cafe+Julia/@21.3076147,-157.8597933,15z/data=!4m2!3m1!1s0x0:0xb379e20cc75955f9?sa=X&ved=0CHEQ_BIwCmoVChMIhIbZ1tneyAIVizqICh0_yAMz">Cafe Julia's</a>
          </li>
        </ul>
      </div>
    </section>
  </div>


  <%= javascript_include_tag 'wedding' %>
</body>
</html>
