<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'Ellen Mae & Kaoru Wedding' %></title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    'wedding', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
</head>
<body>


  <%= javascript_include_tag 'wedding' %>
</body>
</html>
