<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% @posts.each do |post| %>
      <%= render "post", post: post %>
    <% end %>

    <%= will_paginate @posts, :inner_window => 1, :next_label => '<i class="fa fa-arrow-circle-right"></i>', :previous_label => '<i class="fa fa-arrow-circle-left"></i>' %>
  </div>
</div>

<% content_for :javascripts do %>
  <%= render "convert_post_markdown" %>
<% end %>
